<br><br><br><br>
<!-- <p>begars-help works!</p> -->

<div class="container">
  <!-- <hr class="featurette-divider"> -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Home for <span class="text-muted">Abandoned, Elderly Women</span> to Live in
        Dignity</h2>
      <p class="lead text-justify">In India, women have to suffer discrimination right from birth, including lack of
        access to proper
        diet, education, employment, right to inherit property, health care, when and whom to marry, basic minimum wages
        and social security. Social security benefits for widows are few and paltry, and non-existent for separated or
        abandoned women. The number of senior citizens in India is projected to reach 15.87 crores in 2025. A higher
        proportion of elderly are expected to be women (the sex ratio of the elderly is projected to increase to 1,060
        women to 1,000 men by 2026).</p>
      <a href="https://serudsindia.org/elders/free-old-age-home/?gclid=CjwKCAjwj975BRBUEiwA4whRB6BUzh2RFMXuxfHlaQBJJ5KqCLWyliLiCdMQMTWFMePfjEl1iRtV3xoCVx0QAvD_BwE"
        target="_blank" class="btn btn-primary">See NGO Full
        Details</a><br><br>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto"
        src="assets/img/Ngo's & old-age home Related All/Old-Age-Home-Distribution-2-crop-1.jpg"
        alt="Generic placeholder image" style="height: 350px; width: 100%;">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Helping hand <span class="text-muted">india</span></h2>
      <p class="lead text-justify">Helping hand india NGO is an Indian not-for-profit organization working for Women
        Education
        through different
        programs. We are a non-denominational, non-political organization and it has been working in India for over a
        decade, focusing on child education and specially empowerment of women and girls for their basic education and
        technical/vocational education, so that they can stand themselves. We believe that we all need to come together
        to control & stop violence against Women and Children in India will be most important step. As we know if women
        equipped with the proper resources, they can help their whole families and entire communities to overcome
        poverty, marginalization and social injustice. We do this through well planned Techie girls and comprehensive
        programs in our different kind of visions like Basic education, Protection, Proper healthcare, Healthy
        environment for their better livelihoods. We want to see our Country in Top of the world where every child gets
        an education, every youth an opportunity to succeed, and every woman the right to equality. Helping hand india
        NGO try best to empower underprivileged children, youth and women through relevant education, innovative
        healthcare and livelihood programmes. It is our constant Endeavour to reach out needy children and not only to
        provide them with a loving home but also good quality education that enables them to become educate &
        contributing members of the society. We always dreams a society based on legitimate rights, equity, justice,
        honesty, social sensitivity and a culture of service in which all are self-reliant. Our main goal is the
        empowerment of women and girls for betterment and takes out them from poverty, discriminations and violations.
      </p>
      <a href="http://helpinghandindiango.org/about-us.php" target="_blank" class="btn btn-primary"
        style="float: right;">See NGO
        Full Details</a><br><br>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/BeggersRelatedAll/beggars.webp"
        alt="Generic placeholder image" style="height: 350px; width: 100%;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Agewell Foundation<span class="text-muted"> India</span></h2>
      <p class="lead text-justify">Agewell Foundation, India is a not-for-profit NGO which has been working for the
        welfare and
        empowerment of older persons of India since 1999. Agewell Foundation has set up a network of volunteers spread
        across India and interacts with older persons on daily basis through its volunteers’ network.
        Recognizing the work being done by Agewell Foundation ECOSOC has granted Special Consultative Status to Agewell
        Foundation at United Nations since 2011. It is associated with Department of Public Information, United Nations
        (UN-DPI-NGO). Agewell has also been member of various Working Groups and Steering Committees on Social Sector
        for three consecutive Five-Year-Plans of Planning Commission of India since 2002.</p>
      <a href="https://www.agewellfoundation.org/" target="_blank" class="btn btn-primary">See NGO Full
        Details</a><br><br>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/BeggersRelatedAll/chessOldPlays.jpeg"
        alt="Generic placeholder image" style="height: 350px; width: 100%;">
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
<br><br><br>
