<br><br>
<div class="container-fluid pt-4">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/MainProjectsCaresoual/Health-Checkup-caresaual.png" alt="Coding" style="height: 450px; width: 100%;">
        <div class="carousel-caption">
          <h3 class="text-danger">Health Checker Application</h3>
          <!-- <p class="text-warning">To Make Your Travel Safe Cheack Health Quick Through Health Check</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/MainProjectsCaresoual/oldAgeCarosual2.jpg" alt="Pencil" style="height: 450px; width: 100%;">
        <div class="carousel-caption">
          <h3 class="text-danger">Non-Governmental Organization</h3>
          <!-- <p class="text-warning">Join <abbr>NGO</abbr> To Make Rest Life Happy</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/MainProjectsCaresoual/beggarsCarosual.jpg" alt="Thor" style="height: 450px; width: 100%;">
        <div class="carousel-caption">
          <h3 class="text-danger">Helping Hands For Beggars</h3>
          <!-- <p class="text-warning">Providing Free Meals And Health Check To beggars</p> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
