<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="contentMyAllPackageDeatails">
  <h1 class="display-5">Helping Hands For Homeless</h1>
  <hr>
  <p class="lead text-justify p-4">India has more than 1.7 million homeless residents, of which 938,384 live in urban
    areas.
    Advocacy
    group Housing and Land Rights Network estimates that the urban population of homeless can be extrapolated to be at
    least 3 million. They can be found everywhere but somehow the Indian State fails to notice them. They are the
    homeless people of
    India. According to the government’s definition, homeless or houseless are those who live in “the open or roadside,
    pavements, in hume-pipes, under flyovers and staircases, or in the open in places of worship, mandaps, railway
    platforms etc.” Yet when it comes to providing them the basic needs, governments have been failing to spend even
    their allocated funds. There are 1.77 million homeless people in India. We Provide Helping Hands To Homeless People.
    Also We provide
    practical support, information and signposting to the homeless in surrounding areas.

  </p>
</div>
<div class="container-fluid">
  <div class="row p-4">
    <div class="col-sm-4">
      <div class="card border border-dark">
        <img class="card-img-top p-1" src="assets/img/heathCheck-UpRelatedAll/doctor-medical-healthcare-logo.jpg"
          alt="Card image" style="width:100%; height: 250px;">
        <div class="card-body text-center border border-right-0 border-bottom-0 border-left-0 border-dark">
          <h4 class="card-title">Traveller Health Checker</h4>
          <p class="card-text">To Make Your Travel Safe Check Your Health Quickly Here.</p>
          <a [routerLink]="['/healthTracker']" routerLinkActive="router-link-active" class="btn btn-primary">CheckUp
            Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border border-dark">
        <img class="card-img-top p-1" src="assets/img/Ngo's & old-age home Related All/youngsBudys.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-body text-center border border-right-0 border-bottom-0 border-left-0 border-dark">
          <h4 class="card-title">NGO</h4>
          <p class="card-text">We Believes That Everyone Deserves To Be Loved. Join <abbr>NGO</abbr> To Make Rest Life
            Happy</p>
          <a [routerLink]="['/ngoInfo']" routerLinkActive="router-link-active" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border border-dark">
        <img class="card-img-top p-1" src="assets/img/BeggersRelatedAll/thisBeggar.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-body text-center border border-right-0 border-bottom-0 border-left-0 border-dark">
          <h4 class="card-title">Helping Homeless & Hungry</h4>
          <p class="card-text">Providing Free Meals & Health Check To Homeless</p>
          <a [routerLink]="['/begarHelp']" routerLinkActive="router-link-active" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <hr> -->
<br><br><br>




<!-- <hr>
<div class="text-center" id="contentMyBegars">
  <h1 class="display-4">Homeless Helper</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
    It's built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="album py-5 bg-light">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="assets/img/img1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="assets/img/img1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/begarHelp']"
                  routerLinkActive="router-link-active">Current</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="assets/img/img1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
