<!-- <hr> -->
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="contentMyAbout">
  <h1><span class="display-5 ml-4">What Service We Are Provide ?</span></h1>
  <hr>
  <p class="lead text-justify p-4">Senior Travel Tips: How to have great adventures as an older adult. Here we provide
    Health Check
    Application which shows you are Fit for Adventures Travel or Not. Also In India, 39% of 103.9 million
    elderly are either Abandoned or Live Alone here we provide NGO's to
    help them. And at The last we provide an NGO's for Helping Homeless & Hungry People.</p>
</div>
<div class="container-fluid">
  <div class="row p-4">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>Guidelines For Health Check-Ups</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/seniorCitizensHealthCheck.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">For All & People Over 60 Years Old.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>Old Age Home</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/helpingHands.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">Join Old Age Home To Make Rest Life Happy.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>Homeless & Hungry</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/homeless&Hungry.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">Supporting Destitute, Migrant Workers & Beggars.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- <hr> -->
