<!-- <hr> -->
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="contentMyAbout">
  <h1><span class="display-4">What We Are Provide ?</span></h1>
  <hr>
  <p class="lead">Senior Travel Tips: How to Have Great Adventures as an Older Adult here we Provide Health Check Application which Tell You are Feet For Adventures Travel Or Not. Also In India, 39% of 103.9 million
    elderly are either abandoned or live alone here we provide NGO's to
    help them. And at The last we provide an NGO's for Helping Homeless & Hungry People.</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>Traveller Health Tracker</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/seniorCitizensHealthCheck.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">To Make Your Travel Safe Check Health Quick</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>NGO</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/helpingHands.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">Join Old Age Home To Make Rest Life Happy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header text-center">
          <h5>Helping Homeless & Hungry</h5>
        </div>
        <img class="card-img-top" src="assets/img/cardSamplePics/homeless&Hungry.jpg" alt="Card image"
          style="width:100%; height: 250px;">
        <div class="card-footer text-muted text-center">
          <p class="card-text">Providing Free Meals & Health Check To Homeless</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- <hr> -->
