<div class="pt-4">
  <div class="pt-2">
    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img src="assets/img/companyLogosRelatedAll/logo_white.png" alt="logo" />
          <h3>Welcome</h3>
          <p>You are 30 seconds away from creating your own Account!</p>
          <!-- <input type="submit" name="" value="Login" /><br /> -->
          <!-- <p>Already SignUp User ?</p> -->
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"><input type="submit" name=""
              value="Login" /></a>
        </div>
        <div class="col-md-9 register-right">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" (click)="onClearAnotherForm()">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Traveller</a>
            </li>
            <li class="nav-item" (click)="onClearAnotherForm()">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Ngo</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">Apply as a Traveller</h3>

              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name *" name="firstname"
                      [(ngModel)]="firstname" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name *" name="lastname"
                      [(ngModel)]="lastname" />
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email *" name="email"
                      [(ngModel)]="email" />
                  </div>
                  <div class="form-group">
                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                      placeholder="Your Phone *" name="phoneNum" [(ngModel)]="phoneNum" />
                  </div>
                  <div class="form-group">
                    <div class="maxl">
                      <label class="radio inline">
                        <input type="radio" name="gender" value="male" checked>
                        <span> Male </span>
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="gender" value="female">
                        <span>Female </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password *" name="password"
                      [(ngModel)]="password" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password *" name="cpassword"
                      [(ngModel)]="cpassword" />
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option class="hidden" selected disabled>Please select your Security Question</option>
                      <option>What is your Birthdate?</option>
                      <option>What is Your old Phone Number</option>
                      <option>What is your Pet Name?</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Answer *" name="answer"
                      [(ngModel)]="answer" />
                  </div>
                  <input type="submit" class="btnRegister" value="Register" (click)=" onSubmitForm()" />
                </div>
              </div>

            </div>
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h3 class="register-heading">Apply as a Ngo</h3>
              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name *" name="firstname"
                      [(ngModel)]="firstname" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name *" name="lastname"
                      [(ngModel)]="lastname" />
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email *" name="email"
                      [(ngModel)]="email" />
                  </div>
                  <div class="form-group">
                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                      placeholder="Your Phone *" name="phoneNum" [(ngModel)]="phoneNum" />
                  </div>
                  <div class="form-group">
                    <div class="maxl">
                      <label class="radio inline">
                        <input type="radio" name="gender" value="male" checked>
                        <span> Male </span>
                      </label>
                      <label class="radio inline">
                        <input type="radio" name="gender" value="female">
                        <span>Female </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password *" name="password"
                      [(ngModel)]="password" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password *" name="cpassword"
                      [(ngModel)]="cpassword" />
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option class="hidden" selected disabled>Please select your Security Question</option>
                      <option>What is your Birthdate?</option>
                      <option>What is Your old Phone Number</option>
                      <option>What is your Pet Name?</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Answer *" name="answer"
                      [(ngModel)]="answer" />
                  </div>
                  <input type="submit" class="btnRegister" value="Register" (click)="onSubmitForm()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 