<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="contentMyHealthTracker">
  <!-- <h1 class="display-4">Heath Tracker</h1> -->
  <h1><span class="display-5">Traveller Health Checker</span></h1>
  <hr>
  <p class="lead text-justify p-4">For a senior, travel can be an excellent way to stimulate the mind, connect with a
    wider community,
    and just have fun. Exploring new environments and meeting new people can help older adults stay both physically
    active and socially engaged. Whether the idea is to experience more of the world, spend time with loved ones, or
    just take a break from the everyday routine, travel can bring enormous rewards. We provide Health Checker which
    help's to know you
    are Fit within Travel or Before travel Planned. Different domains of Versions Avialble For Health Check See Below.
  </p>
</div>
<div class="container-fluid">
  <div class="card-deck mb-3 text-center p-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₹0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <!-- <li>2 GB of storage</li> -->
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
        <a [routerLink]="['/signUp']" routerLinkActive="router-link-active"
          class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₹115 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <!-- <li>10 GB of storage</li> -->
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"
          class="btn btn-lg btn-block btn-primary">Contact us</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₹290 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <!-- <li>15 GB of storage</li> -->
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> -->
        <a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"
          class="btn btn-lg btn-block btn-primary">Contact us</a>
      </div>
    </div>
  </div>
</div>
